.main {
  height: 88vh;
  color: #000;
  background-image: url("/assets/img/Home.JPEG");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column; /* Change to column */
}

.column {
  margin-left: 20px;
  margin-top: 20px;
}

.content {
  width: 450px;
  text-align: center;
  color: #ffff;
}

.tradingHours {
  color: #ffff;
  text-align: center;
  transform: translate(0%, -10%);
  width: 460px;
  padding: 30px 30px;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.2);
  font-size: 24px;
  border-radius: 10%;
  margin-top: 80px;
}

.tradingHours h4 {
  margin-bottom: 30px;
  text-align: center;
}

.tradingHours ul {
  text-align: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.buttonContainer {
  text-align: left;
  width: 30%;
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
}

.button {
  width: 200px;
  height: 50px;
  border-radius: 15px;
  background-color: #873e23;
  font-size: 20px;
  color:#fff;
}
.button:hover {
  background-color: #eab676;
}
