.main {
  height: 88vh;
  color: #000;
  background-image: url("/assets/img/Home.JPEG"); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column; /* Change to column */
}

.column {
  margin-left: 20px;
  margin-top: 20px;
}

.content {
  width: 450px;
  transform: translate(20%, 120%);
  text-align: center;
  color: rgb(199, 165, 165);
}

.tradingHours {
  color: rgb(199, 165, 165);
  text-align: center;
  transform: translate(20%, 30%);
  width: 460px;
  padding: 30px 30px;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.2);
  font-size: 24px;
  border-radius: 10%;
  margin-top: 80px;
}



.tradingHours h4 {
  margin-bottom: 30px;
  text-align: center;
}

.tradingHours ul {
  text-align: center;
  list-style-type: none;
  padding: 0;
  margin: 0;

}

.buttonContainer {
  transform: translate(20%, 120%);
  text-align: left;
  width: 30%;
  display: flex;
  justify-content: space-between;
  margin-top: 80px;

}

.twobutton {
  width: 200px;
  height: 50px;
  border-radius: 15px;
  background-color: #873e23;
  font-size: 20px;
  color:#fff;
  font-size:20px;
}
.twobutton:hover{
  background-color: #eab676 !important;
  border: 1px solid #fff !important;
  color:#000 !important;

}
.upcoming{
  position:absolute;
  right:0;
  margin-right:50px;
  margin-top: 50px;
  width:300px;
  background-color: rgba(0, 0, 0, 0.2);
 
}
.upcomingTitle{
  color: rgb(225, 211, 211);
}

